[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bpa"]
	path = bpa
	url = https://github.com/bgreenwell/bpa
[submodule "fastshap"]
	path = fastshap
	url = https://github.com/bgreenwell/fastshap
[submodule "investr"]
	path = investr
	url = https://github.com/bgreenwell/investr
[submodule "pdp"]
	path = pdp
	url = https://github.com/bgreenwell/pdp
[submodule "ramify"]
	path = ramify
	url = https://github.com/bgreenwell/ramify
[submodule "roundhouse"]
	path = roundhouse
	url = https://github.com/bgreenwell/roundhouse
