[submodule ".registry"]
	path = .registry
	url = https://github.com/bgreenwell/bgreenwell.r-universe.dev
	branch = HEAD
[submodule "fastshap"]
	path = fastshap
	url = https://github.com/bgreenwell/fastshap
	branch = main
[submodule "investr"]
	path = investr
	url = https://github.com/bgreenwell/investr
[submodule "pdp"]
	path = pdp
	url = https://github.com/bgreenwell/pdp
	branch = main
[submodule "statlingo"]
	path = statlingo
	url = https://github.com/bgreenwell/statlingo
	branch = main
	subdir = r
[submodule "sure"]
	path = sure
	url = https://github.com/bgreenwell/sure
[submodule "vip"]
	path = vip
	url = https://github.com/bgreenwell/vip
	branch = main
